/* loading page from https://atmospherejs.com/pcel/loading */
.loading-message {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  font-family: sans-serif;
}

.sk-spinner-rotating-plane.sk-spinner {
  background-color: #fff;
}

/* layout */
body {
  padding-top: 50px;
}

/* slightly better spacing of the buttons on the customer panel */
.btn-group.btn-block {
    display: table;
}
.btn-group.btn-block > .btn {
    display: table-cell;
}