<template name="personDetails">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{firstName}} {{lastName}}
      </h3>
    </div>
    <div class="panel-body">
      <div class="list-group">
        <a class="list-group-item" href="#">
          Home:
          {{homePhone}}</a>
        <a class="list-group-item" href="#">
          Mobile:
          {{mobilePhone}}</a>
      </div>
      <a class="personEdit btn btn-default" href="{{pathFor 'personEdit'}}">
        Edit
      </a>

      {{!-- calendar stuff --}}
      <div class="col-md-6" id="calendar"></div>

      {{!-- Yields the list of upcoming events --}} {{> eventsList }}
      <form name="addPhoneLog">
        <div class="form-group">
          <textarea class="form-control" name="message" placeholder="Type a note" rows="3"></textarea>
          <input name="personId" type="hidden" value="{{_id}}">
        </div>

        <div class="control-group">
          <label class="control-label" for="category">Category</label>
        </div>
        <select class="btn btn-default" id="category-select" name="messageType">
          <option disabled="disabled" selected="selected">Please Select</option>
          <option value="phonecall">phonecall</option>
          <option value="note">note</option>
          <option value="chit">chit</option>
        </select>
        <input class="btn btn-primary" type="submit" value="Submit" />
      </form>
      {{!-- Yields the messages related to this person --}}
      <div class="col-md-6">
        {{> messageList }}
      </div>
    </div>
  </div>
</template>

<template name="calendarDialog">
  <div data-target="#myModal" data-toggle="modal">
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal" type="button">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="title">Title</label>
              <input class="form-control" id="title" type="text" />
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<h3 class="panel-title">{{firstName}} {{lastName}}</h3>
</div>
<div class="panel-body">
  <div class="list-group">
    <a class="list-group-item" href="#"> Home: {{homePhone}}</a>
    <a class="list-group-item" href="#"> Mobile: {{mobilePhone}}</a>
  </div>
  <a href="{{pathFor 'personEdit'}}" class="personEdit btn btn-default">
                Edit
            </a> {{!-- calendar stuff --}}
  <div id="calendar" class="col-md-6"></div>

  {{!-- Yields the list of upcoming events --}} {{> eventsList }}
  <form name="addPhoneLog">
    <div class="form-group">
      <textarea class="form-control" rows="3" placeholder="Type a note" name="message"></textarea>
      <input type="hidden" name="personId" value="{{_id}}">
    </div>

    <div class="control-group">
      <label class="control-label" for="category">Category</label>
    </div>
    <select id="category-select" class="btn btn-default" name="messageType">
      <option disabled="disabled" selected="selected">Please Select</option>
      <option value="phonecall">phonecall</option>
      <option value="note">note</option>
      <option value="chit">chit</option>
    </select>
    <input type="submit" value="Submit" class="btn btn-primary" />
  </form>
  {{!-- Yields the messages related to this person --}}
  <div class="col-md-6">
    {{> messageList }}
  </div>
</div>
</div>
</template>
