<template name="personDetails">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{firstName}} {{lastName}}
      </h3>
    </div>
    <div class="panel-body">

      {{#if editing_event}}
      {{> calendarDialog}}
      {{/if }}

      <div class="list-group">
        <a class="list-group-item" href="#">
          Home:
          {{homePhone}}</a>
        <a class="list-group-item" href="#">
          Mobile:
          {{mobilePhone}}</a>
      </div>
      <a class="personEdit btn btn-default" href="{{pathFor 'personEdit'}}">
        Edit
      </a>

      {{!-- calendar stuff --}}
      <div class="col-md-6" id="calendar"></div>

      {{!-- Yields the list of upcoming events --}}
      {{> eventsList }}

      <form name="addPhoneLog">
        <div class="form-group">
          <textarea class="form-control" name="message" placeholder="Type a note" rows="3"></textarea>
          <input name="personId" type="hidden" value="{{_id}}">
        </div>

        <div class="control-group">
          <label class="control-label" for="category">Category</label>
        </div>
        <select class="btn btn-default" id="category-select" name="messageType">
          <option disabled="disabled" selected="selected">Please Select</option>
          <option value="phonecall">phonecall</option>
          <option value="note">note</option>
          <option value="chit">chit</option>
        </select>
        <input class="btn btn-primary" type="submit" value="Submit" />
      </form>
      <!-- Yields the messages related to this person -->>
      <div class="col-md-6">
        {{> messageList }}
      </div>
    </div>
  </div>
</template>

<template name="calendarDialog">
<div class="modal fade in show" id="" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close closeDialog" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title" id="">Edit Event</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" placeholder="Enter a title" value="{{title}}" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default closeDialog" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary save">Save</button>
      </div>
    </div>
  </div>
</div>
</template>
