<template name="person">
    <div class="btn-group">
        <button class="toggleInOut btn btn-lg btn-{{#if isIn}}primary{{else}}default{{/if}}">
            {{firstName}} <strong>{{lastName}}</strong>
        </button>

        <button class="btn btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li class="">
                <a class="btn btn-xs" href="{{pathFor 'personDetails'}}">Details</a>
            </li>
            <li class="{{#if isIn}}{{else}}disabled{{/if}}">
                <button class="btn btn-xs">Option 2</button>
            </li>
            {{#with ..}}
            {{#each eventsForDropdown}}
            <li>
                <button class="toggleConfirm btn btn-xs" value="{{personId ..}}">
                    {{#if confirmedForEvent ..}}
                        <strong>{{ eventTitle }}</strong> 
                    {{else}}
                        {{ eventTitle }}
                    {{/if}}
                </button> 
            </li>
            {{/each}}
            {{/with}}
        </ul>
    </div>
</template> 