<template name="person">
    <div class="btn-group">
        <button class="toggleInOut btn btn-lg btn-{{#if isIn}}primary{{else}}default{{/if}}">
            {{firstName}} <strong>{{lastName}}</strong>
        </button>

        <button class="btn btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li class="">
                <a href="{{pathFor 'personDetails'}}">Details</a>
            </li>
            <li class="{{#if isIn}}" "{{else}}disabled{{/if}}">
                <a href="#">Option 2</a>
            </li>
            {{#each eventsForDropdown}} 
            <li>
                <a href="#{{personId}}" class="toggleConfirm">
                    {{ eventTitle }}
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
</template>