<template name="eventDetails">

    <h1>
        <span class="label label-primary">
            <strong>{{ title }}</strong> {{ formattedDate }} {{ time }}
            <span class="badge">
                {{numConfirms}}
            </span>
        </span>
    </h1>

    <table class="table">
        <thead>
            <tr>
                <th> First Name </th>
                <th> Last Name </th>
                <th> Confirmed </th>
            </tr>
        </thead>
        <tbody>
          <!-- List the confirmed people -->
          {{# each confirmedPeople}}
            <tr class="">
                <td> {{firstName}} </td>
                <td> {{lastName}} </td>
                <td> {{timestamp}} </td>
            </tr>
          {{/each}}

          <!-- Add unconfirmed names at the bottom with a different style -->
          {{# each unconfirmedPeople}}
            <tr class="danger">
                <td> {{firstName}} </td>
                <td> {{lastName}} </td>
                <td> {{timestamp}} </td>
            </tr>
          {{/each}}
        </tbody>
    </table>
</template>
