<template name="eventItem">
    {{#if isPersonDetailsContext }}
    <tr>

        <td>
            <a  href="{{pathFor 'eventDetails'}}" class="btn btn-xs btn-default" type="button">
                <strong>{{ eventTitle }}</strong> {{ eventDate }} {{ eventTime }}
            </a>
        </td>
        <td>
            <span class="badge">
            {{numConfirms}}
            </span>
        </td>
        {{#if isConfirmed}}
        <td>
            <button id="confirmButton" class="toggleConfirm btn btn-xs btn-danger" value=true>
                Unconfirm
            </button>
        </td>
        {{else}}
        <td>
            <button id="confirmButton" class="toggleConfirm btn btn-xs btn-success" value=false>
                Confirm
            </button>
        </td>
        {{/if }}
    </tr>
    {{else}}
    
    <li class="active" role="presentation">
        <a href="{{pathFor 'eventDetails'}}">
            <strong>{{ eventTitle }}</strong> {{ eventDate }} {{ eventTime }}
            <span class="badge">
            {{numConfirms}}
        </span>
        </a>
    </li>
    
    {{/if }}
</template>