<template name="eventItem">
    {{#if isPersonDetailsContext }}
    <tr>
        <td>
            <a href="{{pathFor 'eventDetails'}}" class="btn btn-xs btn-default" type="button">
                <strong>{{ title }}</strong> {{ formattedDate }} {{ time }}
            </a>
        </td>
        <td>
            <span class="badge">
            {{numConfirms}}
            </span>
        </td>
        {{#if isConfirmed}}
        <td>
            <button id="confirmButton" class="toggleConfirm btn btn-xs btn-danger" value=true>
                Unconfirm
            </button>
        </td>
        {{else}}
        <td>
            <button id="confirmButton" class="toggleConfirm btn btn-xs btn-success" value=false>
                Confirm
            </button>
        </td>
        {{/if }}
    </tr>
    {{else}}
        <a href="{{pathFor 'eventDetails'}}" class="list-group-item">
            <strong>{{ title }}</strong> {{ start }} {{ time }}
            <span class="badge">
                {{numConfirms}}
            </span>
        </a>
    {{/if }}
</template>
