<template name="eventAdd">
    <p>Create a new event by giving a title and a date</p>
        <form class="new-event">
            <input type="text" name="eventTitle" placeholder="Event Title" class="form-control" />
            <input type="text" name="eventDate" placeholder="The date of the event is:" id="eventDatepicker" class="form-control" />
            <input type="text" name="eventTime" placeholder="Event start at:" class="form-control" />
            <input type="submit" value="Submit" class="btn btn-primary" />
        </form>
</template>
